#sidenav {background: 	#284B63}
a {
    color: white
}

a:hover {
    color: gold;
    text-decoration: none
}

#mainnav {background:white}

ul {
    list-style: none;
    padding-left: 0;
    text-align:;
    font: Times New Roman; 
    font-size: 20
}

#resume-header{color: black;
}

.sidenavtext h1 {color:lightgoldenrodyellow; 
    background:black
}
h2 {color: 	lemonchiffon}
h3{color: 	greenyellow;
    background:}


#mainnav h1{background: khaki;}

img.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}